<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletani</string>
            <key>size</key>
            <string>{98,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a8a6364b6fd2a25232b42fb4caed72a:1555dbcb791a0678e1dc8dd93977456f:20e621121f6d78ca531d16f58ef604e5$</string>
            <key>textureFileName</key>
            <string>bulletani</string>
        </dict>
    </dict>
</plist>
